ion-content {
  --background: var(--ion-color-light);
}

ion-toolbar {
  color: var(--ion-color-primary);

  --background: var(--ion-color-primary-contrast);
}

.task-not-found-container {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.task-not-found {
  color: var(--ion-color-medium);
}

.card {
  background-color: var(--ion-color-primary-contrast);
  display: flex;
  flex-direction: row;
  margin: 0 20px;
  margin-top: 25px;
  padding: 20px;
  align-items: center;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.card img {
  width: 80px;
}

.card .card-title {
  width: 100%;
  color: var(--ion-color-secondary);
  font-size: 20px;
}

.card ion-icon {
  font-size: 24px;
}

.insert-task-container {
  background-color:  var(--ion-color-primary-contrast);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.insert-task-container input {
  width: 100%;
  margin-right: 10px;
  border: var(--ion-color-primary) solid 1px;
  border-radius: 20px;
  padding: 10px;
  padding-inline-start: 20px;
}

.insert-task-container button {
  background: transparent;
  color: var(--ion-color-primary);
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}