<ion-content>
  <ion-toolbar>
    <ion-title>To Do List</ion-title>
  </ion-toolbar>

  <div class="task-not-found-container" *ngIf="tasks.length == 0">
    <span class="task-not-found">
      Create your first task!
    </span>
  </div>

  <div class="card" *ngFor="let task of tasks">
    <img src="/assets/todo-icon.png" alt="">
    <span class="card-title" [innerText]="task.name"></span>
    <div class="action-buttons">
      <ion-icon name="trash-outline" color="danger" style="margin-bottom: 10px;" (click)="deleteTask(task.id)"></ion-icon>
      <ion-icon name="create-outline" color="success" (click)="openEditTask(task)"></ion-icon>
    </div>
  </div>

  <div class="insert-task-container">
    <input type="text" name="task" id="task" placeholder="Type your task here" [(ngModel)]="taskName" (keyup.enter)="insertTask(taskName)">
    <button (click)="insertTask(taskName)">Insert</button>
  </div>
</ion-content>